<!-- <p class="order-summary__total-quantity">0 items</p>
<ul class="order-summary__item-list">
  <li class="order-summary__item">
    <a class="order-summary__item-link" href="" aria-label="xyx. Size: 1, Color: black, quantity: 0, Item unit price: $0, Item total price: $0">
      <img class="order-summary__image" alt="" src="https://via.placeholder.com/150">
      <div class="order-summary__description">
        <p class="order-summary__item-title">XYZ</p>
        <dl class="order-summary__details">
          <div class="order-summary__detail">
            <dt>Price</dt>
            <dd class="detail__price">$20.00</dd>
          </div>
          <div class="order-summary__detail">
            <dt>Color</dt>
            <dd>Black</dd>
          </div>
          <div class="order-summary__detail">
            <dt>Size</dt>
            <dd>Small</dd>
          </div>
        </dl>
        <dl class="order-summary__details">
          <div class="order-summary__detail">
            <dt>Qty</dt>
            <dd>1</dd>
          </div>
          <div class="order-summary__detail">
            <dt>Total</dt>
            <dd class="detail__price">$20.00</dd>
          </div>
        </dl>
      </div>
    </a>
  </li>
</ul> -->
<app-mini-cart-items></app-mini-cart-items>

<dl class="order-summary__totals">
  <div class="order-summary__subtotal">
    <dt>Subtotal</dt>
    <dd>$0.00</dd>
  </div>
  <div class="order-summary__shipping-estimate">
    <dt>Shipping<span class="est-text"> estimate</span></dt>
    <dd>Free</dd>
  </div>
  <div class="order-summary__tax-estimate">
    <dt>Taxes<span class="est-text"> estimate</span></dt>
    <dd>$0.00</dd>
  </div>
  <div class="order-summary__total">
    <dt><span class="est-text">Estimated </span>Total</dt>
    <dd>$0.00</dd>
  </div>
</dl>