<p class="mini-cart__total-quantity">{{cartItems.length}} items</p>
<ul class="mini-cart__item-list">
  <li class="mini-cart__item" *ngFor="let cartItem of cartItems">
    <a class="mini-cart__item-link" href="../pdp/index.html?product_id={{cartItem.product_id}}" aria-label="Shirt Malo. Size: Medium, Color: blue, quantity: 1, Item unit price: $36.95, Item total price: $36.95">
      <img class="mini-cart__image" alt="" src="../../assets/{{cartItem.thumbnail_url}}">
      <div class="mini-cart__description">
        <p class="mini-cart__item-title">{{cartItem.product_name}}</p>
        <dl class="mini-cart__details">
          <div class="mini-cart__detail">
            <dt>Price</dt>
            <dd class="detail__price">${{cartItem.price_sale}}</dd>
          </div>
          <div class="mini-cart__detail">
            <dt>Color</dt>
            <dd>{{cartItem.color}}</dd>
          </div>
          <div class="mini-cart__detail">
            <dt>Size</dt>
            <dd>{{cartItem.size}}</dd>
          </div>
        </dl>
        <dl class="mini-cart__details">
          <div class="mini-cart__detail">
            <dt>Qty</dt>
            <dd>{{cartItem.quantity}}</dd>
          </div>
          <div class="mini-cart__detail">
            <dt>Total</dt>
            <dd class="detail__price">${{cartItem.total_price}}</dd>
          </div>
        </dl>
      </div>
    </a>
    <div class="mini-cart__controls">
      <button class="mini-cart__control btn--link" [attr.data-remove]="cartItem.cart_id">
        <svg class="icon mini-cart__control-icon">
          <use xlink:href="../../assets/sprite.svg#trash"></use>
        </svg>
        Remove
      </button>
      <a class="mini-cart__control btn--link" href="../pdp/index.html?product_id={{cartItem.product_id}}">
        <svg class="icon mini-cart__control-icon">
          <use xlink:href="../../assets/sprite.svg#edit"></use>
        </svg>
        Edit
      </a>
      <button class="mini-cart__control btn--link" data-modal-show="construction-modal">
        <svg class="icon mini-cart__control-icon icon--heart-outline">
          <use xlink:href="../../assets/sprite.svg#heart"></use>
        </svg>
        Save
      </button>
    </div>
  </li>
</ul>

<div class="mini-cart__summary-subtotal">
  <p class="mini-cart__subtotal-title">Estimated Total</p>
  <p class="mini-cart__subtotal">$0</p>
</div>
