
<app-product-sort></app-product-sort>
<ng-template [ngIf]="productData.productsGrid">
    <section class="product-grid">
        <div class="product-grid__jump-links">
        <a id="skip-to-products-from-filters" href="#skip-to-products-from-filters-heading" class="skip-link">Skip to Filters</a>
        <a id="skip-to-products-from-sort" href="#skip-to-products-from-sort-heading" class="skip-link">Skip to Sort</a>
        </div>
        <div class="product-grid__product-tiles">
            <article class="productGrid__product-tile product-tile" *ngFor="let product of productData.productsGrid">
                <a class="product-tile__link" [routerLink]="['../pdp', 'product_id:' + product.product_id]" attr.aria-label="{{product.product_name}}, ${{product.price_sale}}, product details">
                    <img class="product-tile__image" src="../assets/{{product.thumbnail_url}}" alt="">
                    <p class="product-tile__product-name">{{product.product_name}}</p>
                    <span class="product-tile__price">{{product.price_sale}}</span>
                </a>
            </article>
        </div>
    </section>
    <app-pagination></app-pagination>
</ng-template>

<ng-template [ngIf]="!productData.productsGrid">
    <h2>Sorry. We did not find any results. Try expanding your filters.</h2>
</ng-template>